.RootContainer {
  padding: 5%;
}

.InnerGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card Button {
  width: 100%;
}

@media (max-width: 768px) {
  .RootContainer {
    padding: auto;
  }
  .Card {
    width: 100vw;
    height: 100vh;
  }
}
