.ResponsivePadding {
  padding: 24px 50px;
}

* {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .ResponsivePadding {
    padding: 1rem;
  }
  .Header {
    padding-left: 1rem;
  }
  .Content {
    bottom: 67;
  }
}
